[flake8]
max_line_length = 95
extend-ignore =
    # Don't require imperative mood docstrings.
    D401,
    # Ignore docstrings on magic methods
    D105,
    # Ignore docstrings on init methods
    D107,
    # Ignore TODO comments
    T000,
per-file-ignores =
    april_vision/__init__.py:E402
